* {
  margin: 0 auto; 
  box-sizing: border-box;
  padding: 5px;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 112.5%;
  color: #333;
  background-color: #fefefe;
  max-width: 1080px;
  line-height: 1.5;
  padding: 50px;
}
article {
  font-size: 1.5rem;
}
h1 {
  font-size: 2rem;
  font-weight: 400;
  color: blue;
}

.box {
  border: 16px solid turquoise;
  padding: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
  width: 70%; 
  background: mintcream; 
}

.box p {
  color: darkslategrey;
  font-style: italic; 
}

